


    <div class="col-md-6 col-md-offset-3">
    
    	<div>
    
    		<h1>Nuovo Tutor</h1>
            <%= render 'form', :lab => "Crea Tutor" %>
    		
    
    	</div>
    	
    	
    
    </div>
