

<% if current_user %>  
    
    
    <% if @exams.count == 0 %>
        <h1>There are no exams currently in this category</h1>

    
    <% else %>
    
        <div class="row">
            <h3>Esami</h3>
    		<% @exams.each do |exam| %>
    
    			<div class="col-md-12">
    				<a href="/exams/<%= exam.id %>">
    					<h2><%= exam.nome %></h2>
    				</a>
    			</div>	
    
    		<% end %>
    		<% if current_user.id == 1 %>  
                        <%= link_to "Add Exam", new_exam_path, class: "btn btn-primary"  %>
                        		
            <% end %>
    
    	</div>
    
    
        
    <% end %>


<% else %>
  
    <h1>Effettua il login per utilizzare il sito aggiungo intro robbs</h1>

<% end %>
    