<% if current_user.id == 1 %>  

    <div class="col-md-6 col-md-offset-3">
    
    	<div>
    
    		<h1>Nuovo Esame</h1>
    
            
    
    		<%= render 'form', :lab => "Crea Esame" %>
    		
    
    	</div>
    
    </div>
<% end %>